---
import Badge from '../components/Badge.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Porfolio Roy Martinez">
	<section class="w-full mx-auto lg:w-[740px] py-44">
		<img
        class="rounded h-12 w-12" 
        src="../../public/Profile.png" 
        alt="mi logo de Dev">
		<h1 class="text-white text-5xl font-bold flex flex-row gap-x-4 pb-4">
			Hello!, I'm Roy Martinez <a 
			class="flex justify-center items-center"
			target="_blank"
			rel="noopener"
			href="https://www.linkedin.com/in/roy-roger-martinez-cano-3a960413b/"><Badge>Open to work</Badge></a>
		</h1>
		<h2 class="text-xl opacity-80">
			9 years of work experience, backend developer and hobby trader, from Nicaragua 🇳🇮. I specialize in creating APIs with .NET and also in best coding practices and architectures related to highly scalable systems.
		</h2>
		<ul>

		</ul>
	</section>
</Layout>
