<header class="flex justify-between items-center py-4 w-[1120px]">
    <img 
        class="rounded h-12 w-12" 
        src="https://media.licdn.com/dms/image/D4E03AQFE9QDpMV-sSQ/profile-displayphoto-shrink_400_400/0/1677784885943?e=2147483647&v=beta&t=zt0-F47VaRQgTT5WglZqH5VKxmECnSYDAQvoM8IZDBw" 
        alt="mi logo de Dev">
    <nav class="flex flex-row gap-x-10 opacity-80">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/project">Project</a>
        <a href="/contact">Contact</a>
    </nav>
</header>